<section id="video-container"
         class="body-row-color">
  <div class="container">
    <div class="sub-container"
         ng-controller="JoinConferenceCtrl">
      <div id="deviceHook"></div>

      <h2 ng-hide="model.state == 'joined'">
        {{ model.header | translate }}
      </h2>

      <div ng-hide="model.state == 'joined'">

        <h5 id="video-message"
            class="text-center">
          {{ model.message | translate }}
        </h5>

        <nav class="row text-center">
          <button id="accept-call-button"
                  ng-disabled="model.state == 'joining'"
                  class="button"
                  ng-click="acceptCall()">
            {{ 'CONFERENCE_JOIN_BUTTON' | translate }}
          </button>
        </nav>

      </div>

      <div id="question-text"
           ng-show="model.state == 'joined'"
           class="text-center"
           bind-dynamic-html="model.template"></div>
    </div>
  </div>
</section>
