<section id="category-links-container"
         class="body-row-color">
    <div class="container">
        <div class="sub-container"
             ng-controller="CategoryLinksCtrl">

            <div class="text-center category-links-container">

                <h2 id="category-title">{{model.name}}</h2>

                <h5 id="no-category-links"
                    ng-hide="model.categoryLinks.length > 0">
                    {{'CATEGORY_LINKS_NO_CATEGORY_LINKS' | translate}}
                </h5>

                <nav id="category-links-list"
                     class="text-center list-container"
                     ng-show="model.categoryLinks.length > 0">
                    <ul class="list-unstyled">
                        <li id="category-links-items"
                            ng-repeat="linkRef in model.categoryLinks">
                            <a href=""
                               class="button"
                               ng-click="showPopup($index)">
                                {{linkRef.title}}
                            </a>
                        </li>
                    </ul>
                </nav>

                <div id="light-box-dimmer"
                     class="light-box-dimmer"
                     ng-show="model.showPopup">
                    <div id="light-box"
                         class="light-box">
                        <h4>{{"CATEGORY_LINKS_PLEASE_NOTE_TITLE" | translate}}</h4>
                        <h6>{{"CATEGORY_LINKS_PLEASE_NOTE_TEXT" | translate}}</h6>
                        <button id="light-box-back-button"
                                class="narrow-button"
                                ng-click="hidePopup()">
                            {{ 'CATEGORY_LINKS_BACK_BUTTON' | translate }}
                        </button>
                        <button id="light-box-continue-button"
                                class="narrow-button"
                                ng-click="showLink()">
                            {{ 'CATEGORY_LINKS_CONTINUE_BUTTON' | translate }}
                        </button>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
