<section id="medicine-list-container"
         class="body-row-color">
    <div class="container">
        <div class="sub-container"
             ng-controller="MedicineListCtrl">

             <div>
                 <button id="pdf-prev-button"
                         ng-disabled="model.disablePrev"
                         ng-click="prev()"
                         ng-class="{ 'marked-narrow-button': model.disablePrev }"
                         class="narrow-button pdf-navigation">{{"PDF_PREV" | translate}}</button>
                 <button id="pdf-next-button"
                         ng-disabled="model.disableNext"
                         ng-click="next()"
                         ng-class="{ 'marked-narrow-button': model.disableNext }"
                         class="narrow-button pdf-navigation">{{"PDF_NEXT" | translate}}</button>
                 <button id="pdf-zoom-out-button"
                         ng-disabled="model.disableZoomOut"
                         ng-click="zoomOut()"
                         ng-class="{ 'marked-narrow-button': model.disableZoomOut }"
                         class="narrow-button pdf-navigation">{{"PDF_ZOOMOUT" | translate}}</button>
                 <button id="pdf-zoom-in-button"
                         ng-disabled="model.disableZoomIn"
                         ng-click="zoomIn()"
                         ng-class="{ 'marked-narrow-button': model.disableZoomIn }"
                         class="narrow-button pdf-navigation">{{"PDF_ZOOMIN" | translate}}</button>
             </div>
             <div id="pdf-viewer"
                  class="scroll-view"
                  bind-dynamic-html="model.pdfViewerHtml">
             </div>
        </div>
	</div>
</section>
